staruml-ws/_trash

# papyrus-ws/.metadata
# papyrus-ws/*/.metadata
# papyrus-ws/*/*/.metadata
# papyrus-ws/*/*/*/.metadata

# papyrus-ws/.settings
# papyrus-ws/*/.settings
# papyrus-ws/*/*/.settings
# papyrus-ws/*/*/*/.settings